<div class="page-header">
  <h2>Login<small> - login to start sharing!</small></h2>
</div>

<div class="well">
  <%= form_tag '/login' do %>
    <%= label_tag :username %>
    <%= text_field_tag :username, nil, :placeholder=> "Username goes here" %>

    <%= label_tag :password %>
    <%= password_field_tag :password, nil, :placeholder=> "Password goes here" %><br/>

    <%= submit_tag "Login", class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Register a New Account', register_path %>
</div>
