<%= render 'shared_partials/errors', errors_object: @user %>
<div class="page-header">
  <h2> Edit Your Profile<small> - <%= @user.username %></h2></small>
</div>

<div class="well">
  <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, :class=> "input", :placeholder=>"Username goes here" %>

    <%= f.label :password %>
    <%= f.password_field :password, :class=> "input", :placeholder=>"Password goes here" %><br/>

    <%= f.submit "Update Changes", class: 'btn btn-primary' %>
  <% end %>
</div>
