<%= render 'shared_partials/errors', errors_object: @user %>
<div class="page-header">
  <h2>Edit Your Profile<small> - <%= @user.username %></h2></small>
</div>

<%= form_for @user do |f| %>
  <div class="well">
    <%= f.label :username %>
    <%= f.text_field :username, :disabled => true %>

    <%= f.label :password %>
    <%= f.password_field :password, :class=> "input", :placeholder=>"Password goes here" %>

    <div class="button">
      <%= f.submit "Update Changes", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
