<% post.categories.each do |category| %>
  <span class="badge"><%= link_to category.name, category_path(category) %></span>
<% end %>
<h3><%= link_to post.title, post_path(post)%></h3>
<h4><%= post.description %></h4>

<div id="votes">
  <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
    <i class="icon-thumbs-up" id="glyphs_votes"></i>
  <% end %>
  <%= post.total_votes %> votes
  <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
    <i class="icon-thumbs-down" id="glyphs_votes"></i>
  <% end %>
</div>

<small class="muted">
  <% if post.comments.count.to_s == "1" %>
    <%= post.comments.count %> <%= link_to "comment", post %>
  <% else %>
    <%= post.comments.count %> <%= link_to "comments", post %>
  <% end %>
  | posted by <%= link_to post.creator.username, user_path(post.creator) %>  <%= time_ago_in_words(post.created_at) + ' ago' %>
  <% if post.creator == current_user %> |
    <%= link_to "edit", edit_post_path(post) %>
    | <i class="icon-user" id="glyphs"></i>
  <% end %>
</small>
