<div class="page-header">
  <h2>Welcome!<small> - start posting some awesome stuff!</small></h2>
</div>

<% @posts.each do |post| %>
  <div id="posts_feed">
      <h3><%= link_to post.title, post_path(post)%></h3>
      <h4><%= post.description %></h4>

      <div id="votes">
        <%= link_to '', vote_post_path(post, vote: true), method: 'post', remote: true, class: "icon-fa-arrow-up" %>
        <span id="?post<%=post.id%>_votes"><%= post.total_votes %></span>
        <%= link_to '', vote_post_path(post, vote: false), method: 'post', remote: true, class: "icon-fa-arrow-down" %>
      </div>

      <small class="muted">
        <% if post.comments.count.to_s == "1" %>
          <%= post.comments.count %> <%= link_to "Comment", post %>
        <% else %>
          <%= post.comments.count %> <%= link_to "Comments", post %>
        <% end %>
        | posted by <%= link_to post.creator.username %> <%= time_ago_in_words(post.created_at) + ' ago' %>
        <% if logged_in? && (post.creator == current_user) %> |
          <%= link_to "edit", edit_post_path(post) %>
          | <i class="icon-fa-user"></i>
        <% end %>
      </small>
  </div>
<% end %>

