<%= render 'shared_partials/errors', errors_object: @comment %>
<div class="page-header">
  <h2><%=@post.title %>
      <small>
        - posted by <%= link_to @post.creator.username %> <%= time_ago_in_words(@post.created_at) + ' ago' %> |
        <%=link_to 'go to article', display_url(@post.url) %>
        <% if logged_in? && (@post.creator == current_user) %> |
          <%= link_to 'edit', edit_post_path(@post) %> |
          <i class="icon-fa-user"></i>
        <% end %>
      </small>
  </h2>
</div>

<div class="well">
  <h4><%= @post.description %></h4>
</div>

  <div id="create_comment">
    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :body, :class=> "span12", :placeholder=> "Comment goes here", :rows => "7" %>
      </br>
      <div class="button">
      <%= f.submit "Create a comment", class: 'btn btn-primary' %>
      </div>
    <% end %>
 </div>

<% @post.comments.each do |comment| %>
  <div id="comment_feed">
    <p><%= comment.body %></p>
      <div id="votes">
        <%= link_to '', vote_post_comment_path(@post, comment, vote: true), method: 'post', remote: true, class: "icon-fa-arrow-up" %>
        <span id="?post<%=comment.id%>_votes"><%= comment.total_votes %></span>
        <%= link_to '', vote_post_comment_path(@post, comment, vote: false), method: 'post', remote: true, class: "icon-fa-arrow-down" %>
      </div>

     <small class="muted">
      posted by <%= link_to comment.creator.username %> <%= time_ago_in_words(comment.created_at) + ' ago' %>
      <% if logged_in? && (comment.creator == current_user) %> |
        <%= link_to "edit", edit_post_comment_path(@post, comment) %> |
        <i class="icon-fa-user"></i>
      <% end %>
      </small>
  </div>
<% end %>
