<%= render 'shared_partials/errors', errors_object: @comment %>

<div class="page-header">
  <h2><%=@post.title %>
      <small>
        posted by <%= link_to @post.creator.username %> <%= time_ago_in_words(@post.created_at) + ' ago' %> |
        <%=link_to 'go to article', display_url(@post.url) %>
        <% if logged_in? && (@post.creator == current_user) %> |
          <%= link_to 'edit', edit_post_path %> |
          <i class="icon-user icon"></i>
        <% end %>
      </small>
  </h2>
</div>
