<%= render 'shared_partials/errors', errors_object: @category %>

<div class="page-header">
  <h2>New Category<small>- create a new one</small></h2>
</div>

<%= form_for @category do |f| %>
  <div class="well">
    <%= f.label :name %>
    <%= f.text_field :name, :class=> "span4", :placeholder=>"Category goes here" %>

    <div class="button">
      <%= f.submit "Create Category", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
